<h1>Enter a movie title</h1>

<form action="/movies/poster">
  <label for="movie_title">Movie Title:</label>
  <input type="search" name="title" id="movie_title" placeholder="Jaws Xmas Special" autofocus>
  <button>Get poster</button>
</form>
