body {
  font-size: 200%;
  height: 1000em;
}

* {
  border: 1px solid green;
}

.box {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.static {
  position: static; /* This is the default */
}

.relative {
  position: relative;
}

.absolute {
  position: absolute; /* relative to document */
  right: 150px;
  top: 200px;
}

.fixed {
  position: fixed; /* relative to the window */
  right: 150px;
  top: 250px;
}

.bigbox {
  width: 50%;
  height: 600px;
  background-color: linen;
}

.smallbox {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.first {
  top: 50px;
  left: 50px;
  background-color: red;
  z-index: 1; /* Controls the depth/stacking order */
}

.second {
  top: 75px;
  left: 75px;
  background-color: green;
}

.third {
  top: 100px;
  left: 100px;
  background-color: blue;
}
