<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone Blog</title>
  <script src="js/underscore.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/models/Post.js"></script>
  <script src="js/collections/Posts.js"></script>
  <script src="js/routers/Router.js"></script>
  <script src="js/views/AppView.js"></script>
  <script src="js/views/PostListView.js"></script>
  <script src="js/views/PostView.js"></script>
  <script src="js/blog.js"></script>
</head>
<body>

  <a href="#">Home</a>

  <div id="main"></div>

  <script id="appView" type="text/x-template">
    <h1>My Cool Blog With All My Feelings</h1>
    <ul id="posts"></ul>
  </script>

  <script id="postView" type="text/x-template">
    <h1 class="sale-on-now"><%= title %></h1>
    <h2><em><%= author %></em></h2>
    <p><%= content %></p>
  </script>
</body>
</html>
