<h1>Enter a stock symbol</h1>

<form action="/stocks/quote">
  <label for="stock_symbol">Stock Symbol:</label>
  <input type="search" name="symbol" id="stock_symbol" placeholder="MSFT" autofocus>
  <button>Get quote</button>
</form>
