<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock Price Looker Upperer</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">

    <h1>Stock Price Looker Upperer</h1>
    <%= yield %>

  </div>
</body>
</html>
