@import 'https://fonts.googleapis.com/css?family=Titillium+Web:400,700';

body {
  font-family: 'Titillium Web', 'Arial', sans-serif;
}

* {
  border: 1px solid green;
}

.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  vertical-align: top;
}

.censored {
  overflow: hidden;
}

.scroll {
  overflow: scroll;
}
