<h1>Welcome to Movie Stocks</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non magni totam animi labore minima veritatis aliquam facilis dolores consectetur similique ea ipsum ratione distinctio impedit, hic, debitis architecto perspiciatis atque.</p>

<h2><a href="/movies">Find a movie poster</a></h2>

<h2><a href="/stocks">Look up a stock price</a></h2>
