<h1>New Plant</h1>

<form action="/plants" method="post">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Image:</label>
  <input type="url" name="image">

  <button>Create plant</button>
</form>
