<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Simple HTML Layout</title>
  </head>

  <body>
    <div class="container">
      <nav>
        <a href="#">Home</a>
        <a href="#">FAQ</a>
        <a href="#">About</a>
        <a href="#">News</a>
      </nav>

      <header>
        <h1>SCREAMING BRITCHES</h1>
      </header>

      <div class="main">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa perspiciatis soluta explicabo eligendi ratione, deleniti esse quaerat iusto quidem nemo enim eum doloribus eius, odit illo beatae sapiente veniam odio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa perspiciatis soluta explicabo eligendi ratione, deleniti esse quaerat iusto quidem nemo enim eum doloribus eius, odit illo beatae sapiente veniam odio.</p>

        <img src="http://fillmurray.com/500/500" alt="">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa perspiciatis soluta explicabo eligendi ratione, deleniti esse quaerat iusto quidem nemo enim eum doloribus eius, odit illo beatae sapiente veniam odio.</p>
      </div>

      <aside>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eaque voluptate quos nostrum optio sit aspernatur accusantium in, magni odio praesentium minima sed quo, nam expedita blanditiis, iste, dignissimos recusandae!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eaque voluptate quos nostrum optio sit aspernatur accusantium in, magni odio praesentium minima sed quo, nam expedita blanditiis, iste, dignissimos recusandae!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eaque voluptate quos nostrum optio sit aspernatur accusantium in, magni odio praesentium minima sed quo, nam expedita blanditiis, iste, dignissimos recusandae!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eaque voluptate quos nostrum optio sit aspernatur accusantium in, magni odio praesentium minima sed quo, nam expedita blanditiis, iste, dignissimos recusandae!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eaque voluptate quos nostrum optio sit aspernatur accusantium in, magni odio praesentium minima sed quo, nam expedita blanditiis, iste, dignissimos recusandae!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eaque voluptate quos nostrum optio sit aspernatur accusantium in, magni odio praesentium minima sed quo, nam expedita blanditiis, iste, dignissimos recusandae!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eaque voluptate quos nostrum optio sit aspernatur accusantium in, magni odio praesentium minima sed quo, nam expedita blanditiis, iste, dignissimos recusandae!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eaque voluptate quos nostrum optio sit aspernatur accusantium in, magni odio praesentium minima sed quo, nam expedita blanditiis, iste, dignissimos recusandae!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eaque voluptate quos nostrum optio sit aspernatur accusantium in, magni odio praesentium minima sed quo, nam expedita blanditiis, iste, dignissimos recusandae!</li>
        </ul>
      </aside>
    </div>
  </body>
</html>
