<form action="/calc">
  <input type="number" name="x" placeholder="x">
  <input type="text" name="operator" placeholder="*, +">
  <input type="number" name="y" placeholder="y">
  <button>calculate!</button>
</form>
