<h1>My Blog With All My Feelings</h1>

<div class="post">
  <h2>Title</h2>
  <p class="slug">by Baron von Munchausen</p>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, quia. Earum illum atque reprehenderit repudiandae, eveniet? Praesentium ducimus, maiores at perferendis suscipit eius, molestias, illum recusandae doloribus nemo vel eum.</p>
    <p>Vitae distinctio natus at et, molestias aperiam sapiente eius explicabo nemo molestiae provident nulla cum, quam repudiandae accusamus excepturi consectetur qui velit, consequatur, ipsum nostrum accusantium. Ex repudiandae aut, quis.</p>
    <p>Voluptates facere, itaque. Voluptate placeat beatae eos qui vero natus deleniti esse earum aliquid consectetur eligendi dolores molestias, molestiae distinctio alias nisi accusamus hic officia provident ad assumenda. Ut, maiores.</p>
  </div>
</div>

<div class="post">
  <h2>Title</h2>
  <p class="slug">by Baron von Munchausen</p>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, quia. Earum illum atque reprehenderit repudiandae, eveniet? Praesentium ducimus, maiores at perferendis suscipit eius, molestias, illum recusandae doloribus nemo vel eum.</p>
    <p>Vitae distinctio natus at et, molestias aperiam sapiente eius explicabo nemo molestiae provident nulla cum, quam repudiandae accusamus excepturi consectetur qui velit, consequatur, ipsum nostrum accusantium. Ex repudiandae aut, quis.</p>
    <p>Voluptates facere, itaque. Voluptate placeat beatae eos qui vero natus deleniti esse earum aliquid consectetur eligendi dolores molestias, molestiae distinctio alias nisi accusamus hic officia provident ad assumenda. Ut, maiores.</p>
  </div>
</div>

<div class="post">
  <h2>Title</h2>
  <p class="slug">by Baron von Munchausen</p>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, quia. Earum illum atque reprehenderit repudiandae, eveniet? Praesentium ducimus, maiores at perferendis suscipit eius, molestias, illum recusandae doloribus nemo vel eum.</p>
    <p>Vitae distinctio natus at et, molestias aperiam sapiente eius explicabo nemo molestiae provident nulla cum, quam repudiandae accusamus excepturi consectetur qui velit, consequatur, ipsum nostrum accusantium. Ex repudiandae aut, quis.</p>
    <p>Voluptates facere, itaque. Voluptate placeat beatae eos qui vero natus deleniti esse earum aliquid consectetur eligendi dolores molestias, molestiae distinctio alias nisi accusamus hic officia provident ad assumenda. Ut, maiores.</p>
  </div>
</div>

<div class="notification">
  Please be advised
</div>

<div class="success">
  Something good happened
</div>

<div class="error">
  Something bad happened
</div>
