<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Wonderful World of Pretty Butterflies</title>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
