<h1>Pages#numbers</h1>
<p>Find me in app/views/pages/numbers.html.erb</p>

<p>The total price is <%= number_to_currency @amount %>.</p>
<p>The number of atoms is <%= number_to_human @large_number %>.</p>
<p>The phone number is <%= number_to_phone @phone, :area_code => true %>.</p>
